<html>
<head>
	<title>Swim Index</title>
	<link href="../static/main.css" rel="stylesheet">
	<link href="../static/flatUI/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans|Capriola' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>



<body>
	<div class="container-fluid span3">
		<a href="{{url_for('index')}}">about</a><br>
		<a href="{{url_for('create')}}">auto generate a workout</a><br>
		<a href="{{url_for('create_own_set')}}">make your own workout</a><br>
		<a href =''>new and born-again swimmers</a><br>
		<a href="/charts">interval charts</a><br>
		{% if session['workout'] %}
		<a href="{{url_for('yourworkout')}}">your workout</a><br>
		{% endif %}

	</div>

	<div class='container-fluid span9'>
		<div class='block-controls' id="version">
		{% block content %}
		{% endblock %}
		</div>
	</div>
</body>

